

.Outer_one{
    display: flex;
    flex-direction: row;
}

.Inner_one{
    background-color: aqua;
}
.Inner_two{
    background-color: rgb(64, 0, 255);
}
.Inner_three{
    background-color: rgb(0, 255, 42);
}
/* Two Sectiion */
.Outer_two{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.Inner_one1{
    width: 200px;
    background-color: aqua;
}
.Inner_two2{
    background-color: rgb(64, 0, 255);
    flex: 1;
}
.Inner_three3{
    flex: 2;
    background-color: rgb(0, 255, 42);
}


/* Three Sectiion */
.Outer_three{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 1000px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    
}
.Inner_one11{
    width: 200px;
    background-color: aqua;
}
.Inner_two22{
    width: 200px;
    background-color: rgb(64, 0, 255);

}
.Inner_three33{
    width: 200px;
    background-color: rgb(0, 255, 42);
}












.many_itemes{
    display: flex;
    flex-wrap: wrap;
    
}


.Inner_ones11{
    /* width: 300px; */
    background-color: yellowgreen;
    flex-basis: 200px;
}


.Inner_ones12{
    /* width: 300px; */
    background-color: rgb(240, 213, 57);
    flex-basis: 200px;
}

.Inner_ones13{
    /* width: 300px; */
    flex-basis: 200px;
    background-color: rgb(24, 244, 215);
}


.Inner_ones14{
    /* width: 300px; */
    flex-basis: 200px;
    background-color: rgb(3, 113, 30);
}


.Inner_ones15{
    /* width: 300px; */
    flex-basis: 200px;
    background-color: rgb(3, 51, 244);
}

.Inner_ones16{
    /* width: 300px; */
    flex-basis: 200px;
    background-color: rgb(221, 6, 233);
}

.Inner_ones17{
    /* width: 300px; */
    flex-basis: 200px;
    background-color: rgb(243, 3, 3);
}

.Inner_ones18{
    /* width: 300px; */
    flex-basis: 200px;
    background-color: rgb(188, 100, 7);
}
#items{
    flex-grow: 1;
}













